.outer-container{
    display: flex;
    justify-content: center;
    justify-items: center;
    
}
.inner-conainers{
    box-shadow: large;
    padding-x: 8rem ;
    padding-y: 5rem ;
}
h2{
    font-size: large;
    font-style: bold;
    margin-bottom: 4rem;
}
.mb{
    margin-bottom: 4rem;
}
.label{
    display: block;
    color: gray;
}
.input{
    width: 100%;
    padding-x: 3rem ;
    padding-y : 2rem ;
    box-sizing: border-box;
}
.btn{
    width: 100%;
    background-color: green;
    color: white;
    padding-y: 2rem;
}
.link{
    color: rgb(33, 105, 235, 1);
}
.ftr{
    text-align: center;
}