.outer-container{
    display: flex;
    justify-content: center;
    justify-items: center;
    
}
.inner-conainers{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 8rem 5rem;
}
h2{
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 4rem;
}
.mb{
    margin-bottom: 4rem;
}
.label{
    display: block;
    color: gray;
}
.input{
    width: full;
    padding: 3rem 2rem;
    box-sizing: border-box;
}
.btn{
    width: full;
    background-color: green;
    color: white;
    padding-right: 2rem;
}
.link{
    color: rgb(33, 105, 235, 1);
}
.ftr{
    text-align: center;
}